{%extends 'base.html'%}
{%load static%}
{%block content%}
<br>
<br>
<br>
{% for i in ans %}
<br>
<div class='container'>
<img src='{%static "bot.png"%}' height="30" width="30" />
<div class="dus">
  {{i}}
</div>
</div>
<br>
<div class='container'>
<img src='{%static "bot.png"%}' height="30" width="30" />
<div class="dus">
  {%for j in question%}
    {%if forloop.last%}
      {{j}}
    {%endif%}
  {%endfor%}
</div>
</div>
lp is {{ index }}
{% endfor %}


<div class="container">
<form action="{% url 'answer'%}" method="post">
  {% csrf_token %}
  <img src='{%static "user.png"%}' height="30" width="30" />
  <input class='dus' type="text" name="box" placeholder="input question here"/>
</form>
</div>
{%endblock%}
